doctype html
html
    head
        meta(charset='utf-8')
        title 404
        style.
            *{
                margin: 0;
                padding: 0;
            }
            html,body {
                width: 100%;
                height: 100%;
            }
            div{
                position: absolute;
                left: 50%;
                top: 50%;
                right: 50%;
                bottom: 50%;
                transform: translate(-50%,-50%);
                background: #7f7f7f;
            }
    body
        div 糟糕，情绪了，请稍后再试
